

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** general **/

body {
    padding: 0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

 .button a,
 .button button {
    /*background: #ff6347;*/
    height: 45px;
    cursor: pointer;
    padding: 0;
    border: none;
    width: 100%;
    transition: background 100ms, color 100ms;    
}
 .button a:hover,
 .button button:hover {
    /*background: #F44336;*/
}

.button button:focus {
    outline: none;
}

.slide-title {
    margin-top: 4%;
}

.slide-subtitle {
    margin-bottom: 7%;
}
.slide-subtitle div{
    margin-bottom: 10px;
    border-bottom: 1px solid #616161;
    padding: 0;
}
.slide-subtitle span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
}

/** slide 1 **/
.top-slide {
    /*height: 700px;*/
    /*height: 80vh;*/

    background-color: #212121;
    color: #EEEEEE;

    background-image: url('../img/centering.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-slide > div {
    margin-bottom: 5%;
}

.heading-text {
    margin-top: 25%;
    margin-top: calc( 80vh/2 - 45px );
    border: 2px solid #EEEEEE;
}
.heading-text h1 {
    margin-bottom: 20px;
    letter-spacing: 7px;
}

.subtitle {
    margin-top: 1%;
}
.subtitle h2{
    letter-spacing: 7px;
}

.make-order-button {
    margin-top: 3%;
}

.or {
    margin-top: 1%;
}

.leave-feedback a{
    text-decoration: underline;
}

a:hover, a:focus {
    color: #359173;
}
/** slide 2 **/

.slide {
    padding: 3%;
}

.about-me {
    background-color: #FAFAFA;
}

.skills {
    margin-bottom: 10%;
}

.skill-image {

}

.skill-description {
    background: #F5F5F5;
    margin-bottom: 5%;
    padding-bottom: 5%;
}
.skill-description p {
    letter-spacing: 0.3px;
    line-height: 1.3;
}

.skill-title {
    padding-right: 10%;
}

.skill-text {

}

.text-indent {
    text-indent: 25px;
}

.skill-icon-cover {
    position: absolute;
    height: 100%;
}
.skill-icon{
    position: absolute;
    height: 100%;
    width: 80%;
    text-align: center;
}
.skill-icon span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #009688;
}

.portrait-row {
    margin-bottom: 16%;
    margin-top: 1%;
}
.portrait {
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    max-height: 400px;
    background-image: url(../img/portrait.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.last-feedback {
    padding: 3%;
    background: #f5f5f5;
    margin-bottom: 10%;
}
.last-feedback a {
    /*color: #ff6347;*/
    text-decoration: underline;
}

/** slide 3 **/
.suggest-to-visit {
    background-color: #BDBDBD;

}
.suggest-to-visit>div {
    /*margin-bottom: 3%;*/
}
.slide-3 .place-group {
    min-height: 30vh;
    background: #FAFAFA;
    margin-bottom: 3%;
}

.place-group-title {
    margin-bottom: 3%;
}

.place-title-vrapper {

}
.place-title h4 {
    transform: rotate(270deg);
    transform-origin: left;
    /* height: 100%; */
    position: absolute;
    width: 25vw;
    bottom: 0;
    left: 65%;
}

.place-group-title div {
    border-bottom: 1px solid #616161;
}

.place {
    position: relative;
    margin-bottom: 5%;
}
.place a.read-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #359173;
}

.place-title {
    position: absolute;
    height: 100%;
}
.place-xs-title {
    margin-bottom: 2%;
    margin-top: 3%;
}

.place-image {
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    max-height: 400px;   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* place images */
.place-1 .place-image{
    background-image: url(../img/fortress.jpg);
}
.place-2 .place-image{
    background-image: url(../img/place.jpg);
}
.place-3 .place-image{
    background-image: url(../img/place.jpg);
}
.place-4 .place-image{
    background-image: url(../img/property.jpg);
}

/* END place images */

.place-description {
    font-size: 18px;
    height: 25vw;
}

.place-text-vrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 93%;
}

.show-all a {
    margin-bottom: 5%;
}

.show-more button {
    background-image: none;
    border: none;
    width: 100%;
    height: 40px;
    margin-bottom: 5%;
}
/*.show-more button:hover {
    margin-bottom: 5.5%;
    margin-top: -0.5%;
}*/
.btn-default:hover, 
.btn-default:focus{
    background-color: #fafafa;
}

.show-more button span {

}

.place-title .pull-down {
    bottom: -10%;
}

/** slide 4 **/

.my-service {
    background-color: #fafafa;
}

.service {
    background-color: whitesmoke;
    margin-bottom: 5%;
    padding-bottom: 4%;
}

.service-content {
    position: relative;
}
.service-icon {
    position: absolute;
    height: 100%;
}
.service-icon span{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: #009688;
}

.service-title {
    margin-bottom: 1%;
    margin-top: 1%;
}


/** slide 5 **/
.my-contacts {
    background-color: #bdbdbd;
}
.contact-option {
    background-color: #fafafa;
    padding: 5%;
    padding-bottom: 9%;
    margin-bottom: 5%;
}
.contact-option a {
    font-size: 18px;
}

.contact-social a {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    margin: 5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.social-fb{
    background-image: url('../img/social-fb.svg');
}
.social-vk{
    background-image: url('../img/social-vk.svg');
}
.social-ok{
    background-image: url('../img/social-ok.svg');
}

.message-header {
    margin-bottom: 5%;
}
.message-header * {
    display: inline-block;
}

/* form */
form input, form textarea {
    margin-bottom: 0.5em;
    font-size: 17px;
}
input, textarea {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
input:focus, textarea:focus {
    border-color: #9E9E9E;
    outline: none;
    /*box-shadow: 0 0 5px 1px #9E9E9E;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*#formview textarea {
    height: 10.3em;
}*/

textarea {
    overflow: auto;
    vertical-align: top;
}
button {
    margin-top: 3%;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #359173;
    color: #359173;
    background: transparent;
    line-height: 1em;
    padding: 0.6em 0.9em;
    transition: all 0.3s ease-in-out;
}

label {
    text-align: left;
    width: 100%;
    color: #424242;
    font-weight: 500;
    letter-spacing: 1px;
}

/** slide 6 **/
.feedback {
    padding: 4%;
    background: #FAFAFA;
}
.feedback button {
    margin-left: 50%;
    transform: translateX(-50%);
}

/** footer **/
footer {
    background: #424242;
    color: #F5F5F5;
    padding: 4%;
}
footer a{
    color: #F5F5F5;
}
footer .social-fb{
    background-image: url('../img/social-fb2.svg');
}
footer .social-vk{
    background-image: url('../img/social-vk2.svg');
}
footer .social-ok{
    background-image: url('../img/social-ok2.svg');
}
footer .contact-social {
    margin-top: 3%;
}
.autor {
    margin-top: 2%;
    margin-bottom: 1%;
}

/** shadows **/
.skill-description,
.portrait,
.last-feedback,
.slide-3 .place-group,
.service,
.contact-option,
.show-more button,
.button button,
.feedback
{
    /*box-shadow: 5px 5px 5px #9E9E9E;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show-more button,
.contact-social a,
.button button
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}

.show-more button,
.button button {
    border: 2px solid #359173;
    color: #359173;
}

.show-more button:hover,
.contact-social a:hover,
button:hover
{
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.show-more button:hover,
button:hover
{
    border: 2px solid #00796B;
    color: #00796B;
}

/** letter-spacing **/
.slide-title,
.top-slide,
.place-xs-title,
.service-title
{
    letter-spacing: 5px;
}

.slide-subtitle,
footer a
{
    letter-spacing: 4px;
}

.button a,
.button button,
.place-group-title,
footer
{
    letter-spacing: 3px;
}

.place-title
{
    letter-spacing: 1px;
}

/** lg **/
@media (min-width: 1200px){
    .place-image{
        width: 20vw;
        height: 20vw;
    }
    .place-description{
        height: 20vw;
    }
    .place-title h4 {
        width: 20vw;
    }

    .place-title .pull-down {
        bottom: -6%;
    }
}

/** sm only **/
@media (max-width: 991px) and (min-width: 768px){
    .portrait {
        width: 37vw;
        height: 37vw;
    }
    .portrait-row {
        margin-bottom: 5%;
    }
}

/** xs **/
@media (max-width: 767px){
    .heading-text {
        margin-top: 50%;
    }
    .top-slide {
        /*height: 90vh;*/
    }
    .portrait {
        width: 37vw;
        height: 37vw;
        margin-bottom: 19%;
        border-radius: 50%;
    }
    .place-text-vrapper{
        position: initial;
        top: 0;
        transform: none;
    }
    .place-description {
        height: auto;
    }
    .place-image {
        width: 85vw;
        height: 40vw;
        margin-bottom: 5%;
    }
    .service-content ul {
        padding-left: 9%;
    }
    .service-icon span{
        font-size: 100px;
        color: rgba(207, 216, 220, 0.54);
    }

}