

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** general **/

body {
    padding: 0;
}

.button a,
.button button {
    background: #ff6347;
    height: 45px;
    cursor: pointer;
    padding: 0;
    border: none;
    width: 100%;
    transition: background 100ms, color 100ms;    
}
.button a:hover,
.button button:hover {
    background: #F44336;
}

.button button:focus {
    outline: none;
}

.slide-title {

}

.slide-subtitle {
    margin-bottom: 7%;
}
.slide-subtitle div{
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}
.slide-subtitle span {
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
}

/** slide 1 **/
.top-slide {
    height: 700px;
    height: 80vh;

    background-color: #212121;
    color: #EEEEEE;

    background-image: url('../img/centering.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading-text {
    margin-top: 25%;
    margin-top: calc( 80vh/2 - 45px );
    border: 2px solid #EEEEEE;
}
.heading-text h1 {
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 2%;
}

.make-order-button {
    margin-top: 5%;
}

.or {
    margin-top: 35px;
}

.leave-feedback a{
    text-decoration: underline;
}

/** slide 2 **/

.slide {

}

.about-me {
    background-color: #dddddd;
}

.slide-2 .content {
    margin-bottom: 6%;
}

.skills {
    background: rgba(96, 125, 139, 0.24);
    margin-bottom: 10%;
}

.skills .row {
    margin-bottom: 1%;
}

.skill-image {

}

.skill-description {

}

.skill-title {

}

.skill-text {

}

.skill-icon-cover {
    position: absolute;
    height: 100%;
}
.skill-icon{
    position: absolute;
    height: 100%;
    width: 80%;
    text-align: center;
}
.skill-icon span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #607D8B;
}

.portrait-row {
    margin-bottom: 10%;
}
.portrait {
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    max-height: 400px;
    background-image: url(../img/portrait.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.last-feedback a {
    color: #ff6347;
    text-decoration: underline;
}

/** sm only **/
@media (max-width: 991px) and (min-width: 768px){
    .portrait {
        width: 37vw;
        height: 37vw;
    }
    .portrait-row {
        margin-bottom: 5%;
    }
}

/** xs **/
@media (max-width: 767px){
    .heading-text {
        margin-top: 50%;
    }
    .top-slide {
        height: 90vh;
    }
    .portrait {
        width: 37vw;
        height: 37vw;
        margin-bottom: 19%;
        border-radius: 50%;
    }
    
}